body{
    background-image: url("https://t2.rg.ltmcdn.com/pt/images/1/7/3/img_pipoca_com_manteiga_na_panela_6371_600.jpg");
    background-size: cover;
    margin: 0%;
    background-repeat: no-repeat;
    height: 100vh; /*100 por cento da altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

*{
    font-family: 'Dancing Script', cursive;
}

header {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    text-align: center;
    font-size: 25pt; 
    background-color: aqua;
    margin-top: 0%;

    
} 

#formulario{
    background-color: antiquewhite;
    height: 500px;
    width: 50%;
    margin: 0 auto;
    border: black 3px dashed;
}

form{ 
    display: flex;
    flex-direction: column;

    /* width: 50%; */
    /* display: flex;  alinha os itens na vertical*/
    /* flex-direction: column; */
    /* justify-content: start; alinha os itens na horizontal */
}

form div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

label, input {
    width: 30%;
    font-family: 'Anton', sans-serif;
    font-size: 20pt; 
    margin: 8px;
}

input{
    border-radius: 8px 8px;
    border: solid black;
    outline: none;
}

.botao {
    font-family: 'Dancing Script', cursive;
    font-size: 60pt;
    color: red;
    background-color: black;
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    animation: DireitaEsquerda 5s infinite;
}

.botao:hover { /*para interação com os intens quando coloca o cursor em cima*/
    background-color: white;
    transition: linear 2s;
    animation: jogaPraCima 0.3s infinite;
    /* transform: rotate(90deg); */
    /* transform: translateX(20px); */
}

nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
}

@keyframes DireitaEsquerda {
    0% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(-25deg);
        background-color: darkgreen;
    }
    100% {
        transform: rotate(25deg);
    }
}

@keyframes jogaPraCima {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translate(50px);
    }

}

@media only screen and (min-width:600px){
    h1 {
        font-size: 50pt; 
    }
}

@media only screen and (min-width:1000px){
    h1 {
        font-size: 70pt; 
    }
     }